<footer class="footer col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="container">
  <div>
    <span class="text-muted"><br>&copy;{{ "now" | date: "%Y"}} EJP - ORION Project  <a href="{{site.baseurl}}/pages/privacy.html">Privacy</a>- <a href="{{site.baseurl}}/pages/terms.html">Terms</a>- <a href="{{site.baseurl}}/pages/about.html">About</a> </span>
  </div>
    <div>
    <span class="text-muted" style="font-size: 12px; text-align: center">The EJP project ORION has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 773830</span>
  </div>

    <br><img src="/assets/img/onehealth-ejp.png" style="height:70px;width:180px">  
  </div>
  </footer>
