<footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">The content of the ORION Knowledge-Hub represents the views of the author only and is his/her sole responsibility; it cannot be considered to reflect the views of the European Commission and/or any other body of the European Union. The European Commission and the Agency do not accept any responsibility for use that may be made of the information it contains</span>
    </div>
    &copy;2019 EJP- ORION Project
  </footer>