
@import "bootstrap/bootstrap";

.current{
    color: green;
}
.container{
    height: 100%;
    
}

footer{
    bottom:0;
    width:100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
 }

 .contentIframe{
     margin:0;
     width:100%;
     overflow:hidden;
     height: 2270px;
     
 }