---
---
@import "main";

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
      padding-top: 100px; /* Space for fixed navbar */
  
  }
  
  .footer {
    background-color: #f5f5f5;
  }

  .table-fixed thead {
    width: 100%;
  }
  .table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    color:black;
  }
.nav-link{
  color: black;
}
.navbar{
 height: 75px; 
 background: #e9ecef;
}
.card{
  margin: 20px;
}
//@import "bootstrap/bootstrap";