---
layout: default
---
    <div class="row">


<h1>One Health EJP Glossary</h1>

<div class="spinner-grow text-primary loader" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div id="glossary">
  <table class="table table-hover table-fixed" id="myTable" >
    <!---->  
    <thead>
       
        <tr>
          <th scope="col"><input type="text" class="form-control autocomplete" id="searchBar" onkeyup="myFunction()" placeholder="Search "></th>
        
        </tr>
      </thead>
      <tbody>
          {% for glossar in site.data.Glossary_V9 %} 
        <tr>
            <td><h5 class="card-title"><b>{{ glossar.Term }} </b> </h5>
               
             
            
            <p class="card-text"> 
              <b>Sector:</b>  <span class="badge badge-pill  {{ glossar.Sector | replace: ' ', ''}}" >{{glossar.Sector}}</span><br>
              {% assign categories = glossar.Category | split: ";" %}
              <b>Categories:</b>
              {% for category in categories %}
              <span class="badge badge-pill badge-secondary"> 
                  {{ category }}
                </span>
              {% endfor %}
 
              
              <br>
              <br> 
              <b>Definition:</b> <br>{{ glossar.Definition }}
            <br>
            {% if glossar.Publisher != nil %}
                            <br><i> Publisher:</i> {{ glossar.Publisher }}<br>         
                            {% else  %} 
                            {% endif %}
            <br>
              <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#{{ glossar.UUID }}" >
                View more
              </button>
               <a href="http://data.d4science.org/ctlg/ORIONKnowledgeHub/{{ glossar.UUID }}" target="_blank" rel="noopener noreferrer" class="btn btn-info" role="button">ORION-VRE</a>
              
              <button type="button" class="btn citeBtn" data-container="body" data-toggle="popover" data-placement="bottom"  data-html="true" data-content="<input class='form-control'  id='copy{{ glossar.UUID }}' type='text' value='{{ site.url }}/pages/glossary.html#{{ glossar.UUID }}'>">
                Definition URL 
              </button>
              
              
              <div class="modal fade" id="{{glossar.UUID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                
                      </a>
                      <h5 class="modal-title" id="exampleModalLabel"> {{ glossar.Term }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p class="card-text">
                            <b>Sector:</b> 
                          <span class="badge badge-pill  {{ glossar.Sector | replace: ' ', ''}}" >{{glossar.Sector}}</span>
                          <br>
                            
                            <b>Categories:</b>
                            {% for category in categories %}
                            <span class="badge badge-pill badge-secondary"> 
                                {{ category }}
                              </span>
                            {% endfor %}
                            <br>
                            <br> 
                            <b>Definition:</b> 
                            <br>{{ glossar.Definition }}

                            <br>
                            <br>
                            <!-- If customer.name = 'anonymous' -->
                            {% if glossar.Related_terms != nil %}
                            <br><b> Related term:</b> {{ glossar.Related_terms }}         
                            {% else  %} 
                            {% endif %}

                            {% if glossar.Link_to_reference != nil %}
                            <br><b> Link to reference:</b> <a href="{{ glossar.Link_to_reference }}" target="_blank" rel="noopener noreferrer">{{ glossar.Link_to_reference | truncate: 30 }}</a>         
                            {% else  %} 
                            {% endif %}

                            {% if glossar.DOI != nil %}
                            <br><b> DOI:</b> <a href="{{ glossar.DOI }}" target="_blank" rel="noopener noreferrer">{{ glossar.DOI }}</a>         
                            {% else  %} 
                            {% endif %}

                            {% if glossar.PMID != nil %}
                            <br><b> PMID:</b> {{ glossar.PMID}}         
                            {% else  %} 
                            {% endif %}

                            {% if glossar.ISBN != nil %}
                            <br><b> ISBN:</b> {{ glossar.ISBN}}         
                            {% else  %} 
                            {% endif %}
                    
                            {% if glossar.Reference_source != nil %}
                            <br><b> Reference source:</b> {{ glossar.Reference_source}}         
                            {% else  %} 
                            {% endif %}

                            {% if glossar.Publication_Title != nil %}
                            <br><b> Publication Title:</b> {{ glossar.Publication_Title }}         
                            {% else  %} 
                            {% endif %}

                            {% if glossar.Year != nil %}
                            <br><b> Year:</b> {{ glossar.Year }}         
                            {% else  %} 
                            {% endif %}

                            {% if glossar.Authors != nil %}
                            <br><b> Authors:</b> {{ glossar.Authors }}         
                            {% else  %} 
                            {% endif %}

                            {% if glossar.Publisher != nil %}
                            <br><b> Publisher:</b> {{ glossar.Publisher }}         
                            {% else  %} 
                            {% endif %}
                            
                            {% if glossar.Journal != nil %}
                            <br><b> Journal:</b> {{ glossar.Journal }}         
                            {% else  %} 
                            {% endif %}

                            

                            
                    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                      <a href="https://aginfra.d4science.org/catalogue-aginfra?path=/dataset/{{ glossar.UUID }}.rdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary" role="button">Download as RDF-file</a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </p></td>
         
          </tr>
        {% endfor %}
      </tbody>
    </table>


</div>

</main>

<script>

$(window).load(function(){
  $(".loader").fadeOut("slow")
});


var dataset =  {{  site.data.Glossary_V9 | map: "Term" |uniq |jsonify }};
//console.log(dataset)

$(function () {
  
var list = dataset
var list = list.toString();
var listArray = list.split(",");

var availableTags = listArray;

$(".autocomplete").autocomplete({
  source: availableTags

});
});
$(document).ready(function() {

  var datasetID =  {{  site.data.Glossary_V9 | map: "UUID" |uniq |jsonify }};

for (i = 0; i< datasetID.length;i++){

    if(window.location.href.indexOf('#'+datasetID[i]) != -1) {
        $('#'+datasetID[i]).modal('show');
      }
}  
});


 
</script>